filter ebgp_in {

  krt_prefsrc = <%= @node.fetch('ip4') %>;

  # we avoid having internal mesh routing from bgp (maybe avoids race conditions)
  if match_zone_prefix() then reject;

  if match_guifi_prefix() then accept;
  else reject;

}

filter ebgp_out {

  if match_zone_prefix() then accept;
  else reject;

}
