config system
	option ttylogin '0'
	option log_size '64'
	option urandom_seed '0'
	option conloglevel '8'
	option cronloglevel '8'
	option hostname '<%= @node.fetch('node_name') %>'
	option zonename 'Europe/Andorra'
	option timezone 'CET-1CEST,M3.5.0,M10.5.0/3'

config timeserver 'ntp'
	option enabled '1'
	list server '<%= @node.fetch('ntp_server') %>'
